<ion-header>
  <ion-toolbar style="--background: #33beff;">

    <ion-row>
      <ion-col size="2">
        <!-- <ion-buttons slot="start"> -->
        <ion-menu-button auto-hide="false"></ion-menu-button>
        <!-- </ion-buttons> -->
      </ion-col>

      <ion-col size="8" class="ion-text-center" style="color:#fff;">
        9096409749
      </ion-col>

      <ion-col size="2">
        <img src="./assets/images/a.jpg" height="20px" width="20px">
      </ion-col>

    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar></ion-searchbar>

  <ion-item *ngFor="let i of [1,2,3,4]">
    <ion-avatar slot="start"> <img src="/assets/images/a.jpg" (click)="presentModal()" height="30px" width="30px">
    </ion-avatar>

    <ion-label (click)="StudentDetailsModal()">
      <h3>Name : John Doe</h3>
      <p>Qualification : MSC(CS)</p>
      <p>City : Pune</p>
    </ion-label>

  </ion-item>

</ion-content>