<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar (ionChange)="searchUser()" [(ngModel)]="term" debounce="1000" animated></ion-searchbar>

  <ion-item *ngFor="let user of users">
    <ion-avatar slot="start">
      <img [src]="user.img" (click)="presentModal(user)" height="30px" width="30px">
    </ion-avatar>

    <ion-label (click)="studentDetailsModal(user)">
      <h3>Name : {{user.name}}</h3>
      <p>Qualification : {{user.qual}}</p>
      <p>City : {{user.city}}</p>
    </ion-label>

  </ion-item>

</ion-content>