<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>photogallery</ion-title>
    <ion-buttons slot="end">
      <img src="./assets/images/a.jpg" height="35px" width="35px">
      <ion-button (click)="close()" color="danger">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-card margin>
    <ion-row style="height:200px">
      <ion-col style="width: 200px;">
        <img src="/assets/images/a.jpg" height="150px" width="200px"></ion-col>
      <ion-col><img src="/assets/images/a.jpg" height="150px" width="200px"></ion-col>
      <ion-col><img src="/assets/images/a.jpg" height="150px" width="200px"></ion-col>
      <ion-col><img src="/assets/images/a.jpg" height="150px" width="200px"></ion-col>
      

    </ion-row>
  </ion-card>



</ion-content>