<ion-content>

  <ion-row>
    <ion-col size="12" class="userProfileImg">
      <img (click)="updateProfile()" [src]="getDownloadLink(user.profileImg.saved_file_name)" />
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <form [formGroup]="formGroup" class="as-c">
        <input type="password" placeholder="Password" formControlName="password" />
        <button type="button" [disabled]="!formGroup.valid" (click)="login()">Login</button>
        <ion-item>
          <ion-label>Logout</ion-label>
          <ion-toggle color="primary" (ionChange)="logoutUser()" checked="true"></ion-toggle>
        </ion-item>
      </form>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="isFingerPrintAvailable">
    <ion-col size="12" class="as-c">
      <ion-icon name="finger-print-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-content>