<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>StudentDetails</ion-title>
    <ion-buttons slot="end">
      <img src="./assets/images/a.jpg" [routerLink]="['/edit-profile']" height="35px" width="35px">
      <ion-button (click)="close()" color="danger">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-buttons slot="end">

</ion-buttons>


<ion-content fullscreen scroll-y="true">
  <ion-list>




    <ion-slides class="home-slide" autoplay="3000" loop>
      <ion-slide>
        <div class="slide">
          <img src="/assets/images/a.jpg" />

        </div>
      </ion-slide>


      <ion-slide>
        <div class="slide">
          <img src="/assets/images/a.jpg" height="40px" width="40px" />

        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <img src="/assets/images/a.jpg" />

        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <img src="/assets/images/a.jpg" />

        </div>
      </ion-slide>
    </ion-slides>



    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">

          <ion-card>
            <ion-card-title>
              <h6><b>Name :</b> Farin</h6>
            </ion-card-title>
            <ion-card-title>
              <h6><b>Qualification :</b> MSC(cs)</h6>
            </ion-card-title>
            <ion-card-title>
              <h6><b>City :</b> Nasik</h6>
            </ion-card-title>
            <ion-card-title>
              <h6><b>Age :</b> 22</h6>
            </ion-card-title>
          </ion-card>


        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>

</ion-content>