<ion-header>
  <ion-toolbar>
    <ion-title>StudentDetails</ion-title>
  </ion-toolbar>
</ion-header>
<ion-buttons slot="end">
  <!-- <ion-button onclick="dismissModal()">Close</ion-button> -->
</ion-buttons>


<ion-content fullscreen>
  <ion-list>


    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">

          <ion-card>

            <ion-card-header>
              <img src="/assets/images/a.jpg" height="300px" width="500px" />
              <ion-card-title>
                <h6><b>Name :</b> Farin</h6>
              </ion-card-title>
              <ion-card-title>
                <h6><b>Qualification :</b> MSC(cs)</h6>
              </ion-card-title>
              <ion-card-title>
                <h6><b>City :</b> Nasik</h6>
              </ion-card-title>
              <ion-card-title>
                <h6><b>Age :</b> 22</h6>
              </ion-card-title>
            </ion-card-header>

          </ion-card>


        </ion-col>
      </ion-row>
    </ion-grid>







  </ion-list>
</ion-content>