<ion-header>

  <ion-toolbar style="--background: #33beff;">
    <ion-row>
      <ion-col size="2">
        <ion-icon class="back-arrow-c" name="arrow-back-outline" (click)="close()"></ion-icon>
      </ion-col>

      <ion-col size="8" class="ion-text-center ion-align-self-center" style="color:#fff;">
        {{user.mobile1}}
      </ion-col>

      <ion-col size="2">
        <img [src]="user.img" height="40px" width="40px" style="border-radius: 25px;">
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content fullscreen scroll-y="true">
  <ion-list>

    <ion-slides class="home-slide" autoplay="3000" loop>

      <ion-slide *ngIf="user.img != ''">
        <div class="slide">
          <img [src]="user.img" />
        </div>
      </ion-slide>
      <ion-slide *ngIf="user.img1 != ''">
        <div class="slide">
          <img [src]="user.img1" />
        </div>
      </ion-slide>
      <ion-slide *ngIf="user.img1 != ''">
        <div class="slide">
          <img [src]="user.img1" />
        </div>
      </ion-slide>

    </ion-slides>

    <ion-grid *ngIf="doShowDetails">

      <ion-row>

        <ion-col size-md="12">

          <ion-card class="details">
            <ion-card-title>
              <h6><b>Name :</b>{{user.first_name}} {{user.last_name}}</h6>
            </ion-card-title>
            <ion-card-title>
              <h6><b>Qualification :</b>{{user.qualification}}</h6>
            </ion-card-title>
            <ion-card-title>
              <h6><b>City :</b>{{user.city}}</h6>
            </ion-card-title>
            <ion-card-title>
              <h6><b>Age :</b>{{diff_years(user.dob)}}</h6>
            </ion-card-title>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>

</ion-content>