<ion-toolbar style="--background: #33beff;">

  <ion-row>
    <ion-col size="2">
      <ion-menu-button style="color: #fff;" auto-hide="false"></ion-menu-button>
    </ion-col>

    <ion-col size="8" class="ion-text-center ion-align-self-center" style="color:#fff;">
      {{user.mobile1}}
    </ion-col>

    <ion-col size="2">
      <img *ngIf="user.profileImg" (click)="updateProfile()" [src]="getDownloadLink(user.profileImg.saved_file_name)"
        height="40px" width="40px" style="border-radius: 50%;">
    </ion-col>

  </ion-row>

</ion-toolbar>